<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>XKCD Browser</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img id='logo' align='middle' src='images/logo.png'/>
        </div>
        <div class="col-md-9">
          <h2>A webcomic of romance, sarcasm, math, and language.</h2>
        </div>
      </div>
    </div>

    <div class="container" id="app-container">
      <div id="app">
        <div v-if="loading">
          <p>Loading...</p>
        </div>
        <div v-else>
          <h2>{{ current.safe_title }}</h2>
          <p>
              <button id='btn-xkcd' class="btn" v-on:click="firstComic">First</button>
              <button id='btn-xkcd' class="btn" v-on:click="previousComic">Previous</button>
              <button id='btn-xkcd' class="btn" v-on:click="randomComic">Random</button>
              <button id='btn-xkcd' class="btn" v-on:click="nextComic">Next</button>
              <button id='btn-xkcd' class="btn" v-on:click="lastComic">Last</button>
          </p>
          <img v-bind:src="current.img" v-bind:alt="current.alt">
          <p><i># {{ number }}, drawn on {{ current.day }} {{ month }} {{ current.year }}</i></p>

          <div id='comments'>
            <h3>Add a Comment</h3>
            <form v-on:submit.prevent="addComment">
              <input v-model="addedName" placeholder="Name"></p>
              <textarea v-model="addedComment"></textarea>
              <br/>
              <button id='btn-xkcd' class="btn" type="submit">Comment</button>
            </form>
            <h3 id='comments-heading'>Comments</h3>
            <div v-for="comment in comments[number]">
                <hr>
                <p>{{comment.text}}</p>
                <p><i>-- {{comment.author}}</i></p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="script.js"></script>
  </body>
</html>
